.place__container {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .place__container {
    margin-left: 32px;
  }
 }

@media screen and (max-width: 768px) {
  .place__container {
    margin-left: 28px;
  }
 }

@media screen and (max-width: 654px) {
  .place__container {
    margin-left: 16px;
  }
 }

