.place__image {
  max-width: 100%;
  max-height: 460px;
  grid-row: 2/4;
  grid-column: 1;
}

@media screen and (max-width: 1024px) {
  .place__image {
    grid-row: 2/4;
  }
}

 @media screen and (max-width: 768px) {
  .place__image {
    grid-row: 2/4;
  }
}

 @media screen and (max-width: 654px) {
  .place__image {
    grid-row: 3/4;
    margin-bottom: 32px;
  }
}
