.cover__subtitle {
    color: #fff;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    max-width: 360px;
    font-weight: 400;
    position: absolute;
    top: 60%;
    right: 40%;
    z-index: 3;
}