.place__website_content_link {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  transition: 2s;
  margin: 0 0 12px 0;
}

.place__website_content_link:hover {
    cursor: pointer;
    opacity: 0.8;
}
