.header {
    background-color: #2A2C2F;
    max-height: 52px;
    padding: 28px 48px 56px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .header {
        background-color: #2A2C2F;
        max-height: 52px;
        padding: 28px 48px 48px;
        position: relative;
    }    
 } 

 @media screen and (max-width: 768px) {
    .header {
        background-color: #2A2C2F;
        max-height: 52px;
        padding: 28px 24px 48px;
        position: relative;
    }    
 } 

@media screen and (max-width: 320px) {

    
 } 