.place__paragraph {
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 26px;
  margin-left: 40px;
  grid-column: 2;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-left: 32px;
    max-width: 456px;
    margin-bottom: 27px;
  }
 }

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-left: 28px;
    max-width: 352px;
    margin-bottom: 25px;
  }
 }

@media screen and (max-width: 654px) {
  .place__paragraph {
    margin-left: 16px;
    max-width: 288px;
    grid-column: 1;
  }
 }
