.place__paragraph {
  color: #fff;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 26px;
  margin-left: 40px;
  grid-column: 2;
}


  @media screen and (max-width: 1024px) {
    .place__paragraph {
      margin-left: 32px;
      grid-column: 2;
    }
 }

 @media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-left: 28px;
  }
 }

  @media screen and (max-width: 320px) {
    .place__paragraph {
      margin-left: 16px;
      grid-column: 1;
    }
 }
