.footer__copyright {
  color: #fff;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  margin: auto;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin: 32px auto 0;
    position: relative;
}

 }
