.footer__copyright {
    color: #fff;
    font-family: 'Inter';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    margin: auto;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 92px auto 0;
        padding-bottom: 24px;
        max-width: 1184px;
        position: relative;
        padding-right: 48px;
    }
 } 

 @media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 88px auto 0;
        padding-bottom: 24px;
        max-width: 1184px;
        position: relative;
        padding-right: 24px;
    }
 } 

@media screen and (max-width: 320px) {
    .footer__copyright {
        color: #fff;
        font-family: 'Inter';
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-decoration: none;
        margin: 32px auto 0;
        right: 0;
        position: relative;
    }
    
 } 