.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  max-width: 1184px;
  background-size: cover;
  margin: 92px auto 0;
  position: relative;
  }

.cover:before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 2s;
}

.cover:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 654px) {
  .cover {
    max-width: 320px;
    margin: 66px auto 0;
   }
}
