.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .footer__navigation {
    max-width: 928px;
  }
}

 @media screen and (max-width: 768px) {
  .footer__navigation {
    max-width: 720px;
  }
}


@media screen and (max-width: 685px) {
  .footer__navigation {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 186px;
  }
}
