.place {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  max-width: 95%;
  margin: auto;
  margin-top: 80px;
}

 @media screen and (max-width: 900px) {
  .place {
    margin-top: 73px;
  }
}

 @media screen and (max-width: 654px) {
  .place {
    margin-top: 50px;
  }
 }
