.place {
    margin-top: 92px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .place {
        margin-top: 92px;
        position: relative;
    }       
 } 

 @media screen and (max-width: 768px) {
    .place {
        margin-top: 88px;
        position: relative;
    }       
 } 
 
 @media screen and (max-width: 320px) {
    .place {
        margin-top: 64px;
        position: relative;
    }      
 } 
 