.footer {
  margin: 92px auto 0;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: space-between;
}

@media screen and (max-width: 1215px) {
  .footer {
    max-width: 928px;
    margin: 92px 48px 0 48px;
  }
}

 @media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 0 24px;
  }
}


@media screen and (max-width: 654px) {
  .footer {
    max-width: 186px;
    margin: 64px auto 0 16px;
  }
}
