.place__website {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  margin-left: 40px;
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin-left: 32px;
  }
 }

 @media screen and (max-width: 768px) {
  .place__website {
    margin-left: 28px;
  }
 }

 @media screen and (max-width: 654px) {
  .place__website {
    grid-row: 2;
    grid-column: 1;
    margin-left: 16px;
    margin-bottom: 32px;
  }
 }
